<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Видео для детей">
        <title>Панель администратора для управления опросами</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">        
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic" rel="stylesheet">
    </head>
    <body>
        <div id='root'></div>
        <script type="text/javascript" src="js/bundle.js"></script>
    </body>
</html>