@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css/app")
    @Scripts.Render("~/bundles/main")
</head>
<body>
<div class="container">
    @RenderBody()
</div>
</body>
</html>
