
@{
    ViewBag.Title = "Панель администратора системы управления опросами";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id='root'></div>
<script type="text/javascript" src="~/App/public/www/js/bundle.js?v=7T8gbCHiq5pEIY5qL2hCWMPtppL5Qdt-EDmNlB-LkHo1"></script>

